<style type="text/css">
    #main_contact_section
    {
        width: 600px;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 20px;
        margin: auto;
        margin-top: 30px;
    }

    .label_td
    {
        font-weight: bold;
    }

    td
    {
        background-color: rgba(230, 230, 230, 0.6);
        padding: 5px;
    }
    table
    {
        margin: auto;
    }
</style>

<div id="main_contact_section">
    <h4>Contact us</h4>
    Your company's contact information
    <table>
        <tr>
            <td class="label_td">Phone</td>
            <td>00.00.00.00.00</td>
        </tr>
        <tr>
            <td class="label_td">Email</td>
            <td>mymail@myhost.com</td>
        </tr>
        <tr>
            <td class="label_td">Address</td>
            <td>18, Awesome street, Chicago</td>
        </tr>
    </table>
</div>