<!--
/**
 * Copyright (C) 2013 Antoine Jackson
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to deal in
 * the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is furnished
 * to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
 * DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 * OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
 * OR OTHER DEALINGS IN THE SOFTWARE.
 */
-->

<style type="text/css">
    #presentation_box
    {
        width: 500px;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

</style>


<div id="presentation_box">
    <h2>WebMuffin</h2>
    Welcome to the <b>WebMuffin</b> framework.<br/>
    You want to code simple or complex web applications <b>really fast</b> ? <br/>
    You're in the right place. Get ready for some yummy fun.<br/>
    <b><a href="/Pages/configuration">Check your config here</a></b>
</div>
<div style="clear: both"></div>
<div class="box">
    <h3>What is WebMuffin ?</h3>

    <div style="text-align: center;height: 200px; line-height: 200px;">
        <img src="/images/logo.png" style=" width: 100px;"/>
    </div>
    {{ "afw_pres" | tr }}
</div>
<div class="box">
    <h3>MVC structure</h3>

    <div style="text-align: center;">
        <img src="/images/mvc.png"/>
    </div>
    {{ "home_mvc_pres" | tr }}
</div>
<div class="box">
    <h3>Easy templating</h3>

    <div style="text-align: center;height: 200px; line-height: 200px;">
        <img src="/images/twig.png"/>
    </div>
    AFW allows you to use the Twig Engine to render templates.
</div>
<div style="clear: both"></div>
<div class="box">
    <h3>Translation</h3>

    <div style="text-align: center;height: 200px; line-height: 200px;">
        <img src="/images/translation.png"/>
    </div>
    Easily translate your website.
</div>
<div class="box">
    <h3>Template generation</h3>

    <div style="text-align: center;height: 200px; line-height: 200px;">
        <img src="/images/console.png" style="width: 300px;"/>
    </div>
    Use the mini shell to create models and controllers templates to gain time.
</div>
<div class="box">
    <h3>Doctrine</h3>

    <div style="text-align: center;height: 200px; line-height: 200px;">
        <img src="/images/doctrine.png"/>
    </div>
    Generate your database schema simply and quickly.

</div>

<div style="clear: both"></div>
